html,
body,
#root,
.App,
.flex {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.header,
.left-block,
.main {
  text-align: center;
}

.header {
  padding: 10px;
  background-color: aqua;
}

.menu {
  margin: 0;
  padding: 10px;
  list-style: none;
}

.menu li {
  text-align: start;
  margin-bottom: 10px;
}

.flex {
  display: flex;
  width: 100%;
}

.left-block {
  width: 30%;
  background-color: rgb(220, 245, 239);
}

.main {
  width: 70%;
  background-color: rgb(126, 225, 238);
}